doctype html
- var date = new Date();
- var today = String(date.getMonth()+1)+"/"+String(date.getDate());
body
    div
        h1 #{alarmName}
        p #{today} #{alarmTime}
    div
        p #{medicineList}

    div
        form(action="/calendar/"+`${selectedDate}`+"/"+`${id}`, method="post")
            input(type="text", name="check")
            input(type="submit" value="Submit")