doctype HTML
- var date = new Date().getDate();
- var dateUrl = `/calendar/${userDate}/`;
head
    title #{title}
body
    div
        a(href="/calendar/"+`${date-2}`) #{date-2}
        a(href="/calendar/"+`${date-1}`) #{date-1}
        a(href="/calendar/"+`${date}`) #{date}
        a(href="/calendar/"+`${date+1}`) #{date+1}
        a(href="/calendar/"+`${date+2}`) #{date+2}
    p #{alarmList}
    a(href=dateUrl+"3") sasa

    
    include footer.pug