doctype html
head
    title Mediger
body
    .userInfo
        ul
            li="Name: "+user.userName
            li="Birthday: "+user.birth
            if(user.sex === 0)
                li="Sex: male"
            else
                li="Sex: female"
            if(user.accompanierName === null)
                li="AccompanierInfo: Nothing"
            else
                li="Accompanier: "+user.accompanierName+","+user.accompanierPhone
    .add
        form(action="/user/edit", method="get")
            input(type="submit", value="edit")
    .footer
        include footer.pug